.navbar {
    background-color: #003D58;
}

.navbar a[href] {
    color: #EAD7EF;
}

.navbar-brand {
    font-family: 'Aboreto', sans-serif;
}

#banner{
    position: relative;
    height: 500px;
}
#banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#banner .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 33, 47, 0.75);
    color: #ffffff;
    justify-content: center;
}
#banner h1 {
    font-size: 5rem;
}

#banner h5 {
    width: 45%;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    #banner h1 {
        font-size: 3.5rem;
    }

    #banner h5 {
        width: 80%;
        font-size: 1rem;
    }
}
.search-filed {
    border-color: #a82da5;
    border-radius: 50px;
}
.search-button{
    border-color: #a82da5;
    border-radius: 50px;
    background-color: #a82da5;
    color: #EAD7EF;
}

.card-title {
    color: #046091;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

button:hover, input:hover, a:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.search-button:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    color: white;
}

.login {
    border: 1px solid #000;
    border-radius: 999px !important;
    padding: 8px 20px !important;
    display: inline-block;
}

.dropdown-style {
    border-color: #a82da5;
    border-radius: 50px;
    color: #a82da5;
    background-color: white;
}

.active-util{
    color: #a82da5;
}

.card {
    border-radius: 1rem;
    overflow: hidden;
}

a:hover {
    text-decoration: none;
}

.employment-badge {
    background-color: #046091;
    color: white;
}

footer a[href] {
    color: #EAD7EF;
}

footer a:hover {
    color: white;
    opacity: .8;
    text-decoration: none;
}

.navbar a[href]:hover {
    color: white;
    opacity: .8;
    text-decoration: none;
}




html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}